*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: #061400
}

.global
{
    /* background-color: #061400 */
    width: 20%;
    height: 40vh;
    text-align: center;
    position: relative;
    margin: auto;
    border: 1px solid rgba(255, 255, 255, 0.518);
    top: 15em;
}

.logo img
{
    width: 60%;
    height: 20vh;
}

.center div input
{
    width: 70%;
    height: 5vh;
    margin: 1%;
    border: 2px solid rgba(255, 255, 255, 0.518);
    padding: 1%;
}

#btn  
{
    background-color: #64b83f;
    border: 2px solid rgba(255, 255, 255, 0.518);
    width: 25%;
    height: 04vh;
    margin-top: 2em;
}

#btn a
{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#btn a:hover 
{
    color: white;
}

.retour a
{
    text-decoration: none;
    color: #f3f6f1;
}

.retour a:hover
{
    text-decoration: none;
    color: #64b83f;
}

.retour 
{
    margin-left: 48%;
    margin-top: 14%;
    font-size: 1.3em;
}