*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header
{
    display: flex;
}
/********* Menu ***********/
.logo
{
    height: 100vh;
    width: 18%;
    background-color: #061400;
}

.logo img
{
    width: 100%;
    height: 30%;
}

/********* Nave-Bars ***********/

.nav
{
    display: block;
    width: 80%;
    height: 60vh;

}

.nav-bar1 
{
      width: 102.5%;
      height: 4vh;
      background-color: rgba(0, 0, 0, 0.24);
      padding: 0.5%;
}

.nav-bar2 
{
      width: 102.5%;
      height: 7vh;
      background-color: white;
      box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.216);
      display: flex;
      padding: 1.5%;
}

.nav-bar2-A 
{
    font-size: 1.5em;
    
}

.nav-bar2-B 
{
    position: relative;
    left: 80%;
    width: 09%;
    color: #64B83F;
}

.user 
{
    color: white;
    width: 20%;
    position: relative;
    left: 80%;
    
}


/********* TACHES ***********/
.test
{
    width: 20%;
    height: 10%;
    border: 1px solid  #06140066;
    border-radius: 10px;
    position: absolute;
    top: 20%;
    left: 25%;
    display: flex;
}

.test1
{
    width: 20%;
    height: 10%;   
    border: 1px solid  #06140066;
    border-radius: 10px;
    position: absolute;
    top: 20%;
    left: 50%;
    display: flex;
}

.test2
{
    width: 20%;
    height: 10%;
    border: 1px solid  #06140066;
    border-radius: 10px;
    position: absolute;
    top: 20%;
    left: 75%;
    display: flex;
}

.test3
{
    width: 32.5%;
    height: 10%;
    border: 1px solid  #06140066;
    border-radius: 10px;
    position: absolute;
    top: 40%;
    left: 25%;
    display: flex;
}

.test4
{
    width: 32.5%;
    height: 10%;
    border: 1px solid  #06140066;
    border-radius: 10px;
    position: absolute;
    top: 40%;
    left: 62.5%;
    display: flex;
}

.t 
{
    color: white;
    margin-left: 7%;
    padding: 6%;

}

ul li
{
    list-style: none;
}

ul li:hover 
{
    background-color: white;
    color: #54D704;
    cursor: pointer;
    border-radius: 35px 0 0 35px;

}

.icon 
{
    width: 25%;
    height: 100%;
    border-radius: 09px 0px 0px 09px;
    background-color: #2FA84A;
    border: none;
}

.iconb 
{
    width: 15.5%;
    height: 100%;
    border-radius: 09px 0px 0px 09px;
    background-color: #54D704;
}

.icont 
{
    display: block;
}

.icont p
{
   padding: 12%;
   font-size: 25px;
   color: #64B83F;
}

.icont2 p
{
   padding: 8%;
   font-size: 25px;
   color: #64B83F;
   width: 150%;
}

/********* STATIQUE *******/

#stat
{
    width: 100%;
    height: 40vh;
    position: absolute;
    top: 200%;
    right: 50%;
}

