*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header
{
    display: flex;
}
/********* Menu ***********/
.logo
{
    height: 100vh;
    width: 18%;
    background-color: #061400;
}

.logo img
{
    width: 100%;
    height: 30%;
}

/********* Nave-Bars ***********/

.nav
{
    display: block;
    width: 80%;
    height: 60vh;

}

.nav-bar1 
{
      width: 102.5%;
      height: 4vh;
      background-color: rgba(0, 0, 0, 0.24);
      padding: 0.5%;
}

.nav-bar2 
{
      width: 102.5%;
      height: 7vh;
      background-color: white;
      box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.216);
      display: flex;
      padding: 1.5%;
      
}

.nav-bar2-A 
{
    font-size: 1.5em;
    
}

.nav-bar2-B 
{
    position: relative;
    left: 78%;
    width: 10%;
    color: #64B83F;
}

.user 
{
    color: white;
    width: 20%;
    position: relative;
    left: 80%;
    
}
/********* MENU ***********/

ul li
{
    list-style: none;
}

ul li:hover 
{
    background-color: white;
    color: #54D704;
    cursor: pointer;
    border-radius: 35px 0 0 35px;

}

.t 
{
    color: white;
    margin-left: 7%;                    
    padding: 6%;

}

/********** Center *********/

.titre
{
    width: 20%;
    font-size: 2em;
    color: rgb(157, 153, 153);
    border-bottom: 1px solid gainsboro;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 15%;
}

.profil
{
    /*display: flex;*/
    width: 40%;
    height: 15vh;
    position: absolute;
    left: 40%;
    top: 30%;
    border-bottom: 1px rgb(157, 154, 154) solid;
}

.numero p
{
    font-size: 6em;
    color: rgb(111, 115, 115);
}

.elements
{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 75%;
}

.elements img
{
    width: 90px;
    height: 80px;
    border-radius: 5%;
}

.elements div h4
{
    font-size: 2.4em;
    width: 120%;
    margin-left: 05%;
}

.elements div button
{
    width: 140%;
    height: 50%;
    border: 1px #64B83F solid ;
    color:  #64B83F;
    background-color: white;
}

.s-element
{
    width: 80%;
    height: 30%;
    position: relative;
    bottom: 85%;
    display: flex;
    justify-content: space-around;
    left: 20%;
    font-size: 1.4em;
}

.bas-profil
{
    width: 84%;
    height: 20%;
    position: relative;
    bottom: 80%;
    display: flex;
    left: 10%;

}

.bas-profil .tel
{
    position: absolute;
    left: 76%;
}

.profil-2
{
    /*display: flex;*/
    width: 40%;
    height: 15vh;
    position: absolute;
    left: 40%;
    top: 45%;
    border-bottom: 1px rgb(157, 154, 154) solid;
}

.numero-2 p
{
    font-size: 6em;
    color: rgb(111, 115, 115);
}

.elements-2
{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 75%;
}

.elements-2 img
{
    width: 90px;
    height: 80px;
    border-radius: 5%;
}

.elements-2 div h4
{
    font-size: 2.4em;
    width: 120%;
    margin-left: 05%;
}

.elements-2 div button
{
    width: 140%;
    height: 50%;
    border: 1px #64B83F solid ;
    color:  #64B83F;
    background-color: white;
}

.s-element-2
{
    width: 80%;
    height: 30%;
    position: relative;
    bottom: 85%;
    display: flex;
    justify-content: space-around;
    left: 20%;
    font-size: 1.4em;
}

.bas-profil-2
{
    width: 84%;
    height: 20%;
    position: relative;
    bottom: 80%;
    display: flex;
    left: 10%;

}

.bas-profil-2 .tel
{
    position: absolute;
    left: 76%;
}

.profil-3
{
    /*display: flex;*/
    width: 40%;
    height: 15vh;
    position: absolute;
    left: 40%;
    top: 60%;
    border-bottom: 1px rgb(157, 154, 154) solid;
}

.numero-3 p
{
    font-size: 6em;
    color: rgb(111, 115, 115);
}

.elements-3
{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 75%;
}

.elements-3 img
{
    width: 90px;
    height: 80px;
    border-radius: 5%;
}

.elements-3 div h4
{
    font-size: 2.4em;
    width: 120%;
    margin-left: 05%;
}

.elements-3 div button
{
    width: 140%;
    height: 50%;
    border: 1px #64B83F solid ;
    color:  #64B83F;
    background-color: white;
}

.s-element-3
{
    width: 80%;
    height: 30%;
    position: relative;
    bottom: 85%;
    display: flex;
    justify-content: space-around;
    left: 20%;
    font-size: 1.4em;
}

.bas-profil-3
{
    width: 84%;
    height: 20%;
    position: relative;
    bottom: 80%;
    display: flex;
    left: 10%;

}

.bas-profil-3 .tel
{
    position: absolute;
    left: 76%;
}